@font-face{
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Regular.ttf');\
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Didact';
    src: url('../fonts/DidactGothic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Landrover';
    src: url('../fonts/landrover.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Gost';
    src: url('../fonts/GOST.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Archive';
    src: url('../fonts/Archive.ttf');
    font-weight: normal;
    font-style: normal;
}
