/*------------------------------------*\
	НАВИГАЦИЯ
\*------------------------------------*/
#nav{
	float:left;
	width:100%;
	list-style:none;
}
#nav li{
	float:left;
	margin-right:10px;
	position:relative;
	display:block;
}
#nav li a{
    display: inline-block;
    width: 186px;
    height: 50px;
    background-color: rgba(180, 210, 255, 0.2);
    transition: 0.5s;
    border-radius:2px;

    font-family: Rubik, sans-serif;
    font-size: 20px;
    text-decoration:none;
    color: #005;
        text-align:center;
}
#nav li a:hover{
    background-color: rgba(170, 200, 255, 0.5);
}
#nav li a p{
    text-align:center;
    margin-top: 11px;

}


/*--- ВЫПАДАЮЩИЕ ПУНКТЫ ---*/
#nav {
    padding-left: 0;
}

#nav ul{
	list-style:none;
	position:absolute;
	left:-9999px; /* Скрываем за экраном, когда не нужно (данный метод лучше, чем display:none;) */
	opacity:0; /* Устанавливаем начальное состояние прозрачности */
	-webkit-transition:0.25s linear opacity; /* В Webkit выпадающие пункты будут проявляться */

        background-color: rgba(255, 255, 255, .95);
}
#nav ul li{
	padding-top:5px; /* Вводим отступ между li чтобы создать иллюзию разделенных пунктов меню */
	float:none;
	background:url(dot.gif);
}
#nav ul a{
	white-space:nowrap; /* Останавливаем перенос теaкста и создаем многострочный выпадающий пункт */
	display:block;
}
#nav li:hover ul{
    list-style: none;   /* Выводим выпадающий пункт при наведении курсора */
	left:-10px; /* Приносим его обратно на экран, когда нужно */
	opacity:1; /* Делаем непрозрачным */
}
#nav li ul {
	padding-bottom: 10px;
	border-radius: 2px;
}
#nav li ul li a{
    width: 156px;
    height: 35px;
    background-color: rgba(180, 210, 255, 0.2);
    transition: 0.5s;
    border-radius:2px;

    font-family: Rubik, sans-serif;
    font-size: 16px;
}
#nav li ul li a.red{
	background-color: rgba(255, 180, 180, 0.2);
}
#nav li ul li a p{
    text-align:center;
    padding-top: 9px;
}
#nav li:hover a{ /* Устанавливаем стили для верхнего уровня, когда выводится выпадающий список */

    transition: .5s;
        background-color: rgba(170, 200, 255, 0.5);
}
#nav li:hover ul a{ /* Изменяем некоторые стили верхнего уровня при выводе выпадающего пункта */
	text-decoration:none;
	-webkit-transition:-webkit-transform 0.075s linear;    transition: .5s;
}
#nav li:hover ul li a:hover{ /* Устанавливаем стили для выпадающих пунктов, когда курсор наводится на конкретный пункт */
    transition: .5s;
            background-color: rgba(170, 200, 255, 0.8);
}
#nav li:hover ul li a.red:hover{ /* Устанавливаем стили для выпадающих пунктов, когда курсор наводится на конкретный пункт */
    transition: .5s;
            background-color: rgba(255, 170, 170, 0.8);
}
